[project]
	description = try out various android basics
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Dacong (Tony) Yan (dacongy)
[access "refs/for/refs/*"]
	read = group user/Dacong (Tony) Yan (dacongy)
	push = group user/Dacong (Tony) Yan (dacongy)
	label-Code-Review = -2..+2 group user/Dacong (Tony) Yan (dacongy)
	label-Verified = -1..+1 group user/Dacong (Tony) Yan (dacongy)
	rebase = group user/Dacong (Tony) Yan (dacongy)
	removeReviewer = group user/Dacong (Tony) Yan (dacongy)
	submit = group user/Dacong (Tony) Yan (dacongy)
[access "refs/heads/*"]
	read = group user/Dacong (Tony) Yan (dacongy)
	create = group user/Dacong (Tony) Yan (dacongy)
	push = +force group user/Dacong (Tony) Yan (dacongy)
	pushMerge = group user/Dacong (Tony) Yan (dacongy)
[access "refs/tags/*"]
	push = +force group user/Dacong (Tony) Yan (dacongy)
	pushTag = group user/Dacong (Tony) Yan (dacongy)
	pushSignedTag = group user/Dacong (Tony) Yan (dacongy)
